body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('fond_accueil.jpeg'); /* Ajoute une transparence sur l'image */
    background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-attachment: fixed; /* Assure que l'image reste fixe lors du défilement */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espacements internes */
}

header {
    background-color: #fffaf4; /* Couleur du bandeau */
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments du bandeau */
    align-items: center; /* Centre les éléments verticalement */
    padding: 20px;
    position: sticky; /* Rend le bandeau fixe lors du défilement */
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px; /* Hauteur du logo */
}

.main-buttons {
    display: flex;
    gap: 0; /* Pas d'espacement entre les boutons principaux */
    width: 60%; /* Ajuste la largeur automatiquement */
    justify-content: center; /* Centre les boutons principaux */
}

.main-button {
    flex: 1; /* Chaque bouton prend une part égale de la largeur */
    max-width: none ;
    min-width: 100px;
    text-align: center; /* Centre le texte des boutons */
    padding: 20px; /* Espacement autour du texte des boutons */
    background-color: #fffaf4; /* Même couleur que le bandeau */
    color: #bb2700; /* Rouge Bordeaux */
    text-decoration: none; /* Enlève le soulignement des liens */
    font-size: 16px;
    font-weight: bold;
    border: none; /* Enlève les bordures */
    border-left: 1px solid #bb2700; /* Séparation entre les boutons */
    transition: background-color 0.3s, opacity 0.3s; /* Transition pour l'effet de survol */
}

.main-button:first-child {
    border-left: none; /* Enlève la bordure gauche pour le premier bouton */
}

.main-button:hover {
    background-color: #bb2700; /* Fond rouge Bordeaux au survol */
    color: #fffaf4; /* Texte blanc au survol */
    opacity: 0.8; /* Ajuste l'opacité au survol */
}

nav {
    display: flex;
    gap: 20px; /* Espacement entre les liens */
}

.menu-item {
    background-color: #fffaf4; /* Même couleur que le bandeau */
    color: #bb2700; /* Rouge Bordeaux */
    text-decoration: none; /* Enlève le soulignement des liens */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effet ombre */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

.menu-item:hover {
    background-color: #bb2700; /* Fond rouge Bordeaux au survol */
    color: #fffaf4; /* Texte blanc au survol */
}

.titre_accueil {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    color: #bb2700; /* Bordeaux */
    font-family: Mistral;
}

.map-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crée une grille de 2 colonnes */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px; /* Espacement autour de la grille */
}

.map-text-pair {
    display: contents; /* Conserve la disposition dans la grille */
}

.map {
    width: 100%; /* Les cartes prennent toute la largeur de leur conteneur */
    height: 100%; /* Les cartes prennent toute la hauteur de leur conteneur */
}

.map-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color:rgba(255, 250, 244, 0.9); /* Légère transparence pour le fond */
    border: 1px solid #bb2700;
    border-radius: 5px;
    opacity: 0.5; /* Initialement invisible */
    justify-content: flex-start;
    line-height: 1.5;
    text-align: justify;
    transition: opacity 0.5s ease-in-out; /* Transition pour l'effet d'apparition et de disparition */
}

.map-description.visible {
    opacity: 1; /* Rendre visible */
}

.map-description h2 {
    margin: 0 0 50px 0; /* Ajuste les marges des titres */
    text-align: center;

}

.map-description p {
    margin: 0; /* Ajuste les marges des paragraphes */
}





















